<div ng-repeat="light in settings.rooms[roomIndex].lights" class="col-xs-12" style="margin-bottom: 15px;">
    <button class="btn btn-default col-xs-9"
            ng-click="showDetails(light.id)">
        <strong>{{light.name.length > 10 ? light.name.substring(0,10) + '...' : light.name}}</strong>
    </button>
    <button class="btn btn-{{light.isOn ? 'success' : 'default'}} col-xs-3"
            title="{{light.isOn ? 'Click to turn the light off':'Click to turn the light on'}}"
            ng-click="switchLight(light)">
        {{light.isOn ? 'On' : 'Off'}}
    </button>
</div>
<div class="col-xs-12" style="margin-bottom: 15px;">
    <button class="btn btn-default col-xs-12" data-toggle="modal" data-target="#addLightModal">
        <i class="fa fa-plus"></i>&nbsp;&nbsp;<strong>Add Light</strong>
    </button>
</div>

<!-- On/Off Modal -->
<div class="modal fade" id="lightSwitchModal" tabindex="-1" role="dialog" aria-labelledby="lightSwitchModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="lightSwitchModalLabel">Switch Light {{light.isOn ? 'Off' : 'On'}}</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to turn this light {{light.isOn ? 'Off' : 'On'}}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" ng-click="switchLight(light)">Yes</button>
            </div>
        </div>
    </div>
</div>

<lights-add-modal></lights-add-modal>
<!-- Add Modal -->
