<div id="footer" class="container visible-xs" >
    <nav class="navbar navbar-inverse navbar-fixed-bottom ">
        <div class="navbar-inner navbar-content-center">
            <div class="col-xs-9">
                <button id="newRoomButton" class="btn btn-lg btn-primary footer-button col-xs-12"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;New Room</button>
            </div>
            <div class="col-xs-3">
                <button ng-click="toggleView()" id="toggleViewButton" class="btn btn-lg btn-primary footer-button col-xs-12"><i class="fa {{settings.ui.rooms.viewIcon}}" aria-hidden="true"></i></button>
            </div>
        </div>
    </nav>
</div>
